<div class="widget widget-table col-xs-12">
    <div class="widget-header">{{ind}}
        <h3>
            <i class="fa fa-table "></i>&nbsp;Chart
            <i class="fa fa-times pull-right" ng-click="closeDiv($event)"></i>
            <i expand></i>
            <i overlay></i>
        </h3></div>
    <!-- <highchart id="chart1" config="chartConfig[griddata]" class="span10"></highchart>   -->

    <div id="container{{ind}}" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>