<div class="col-xs-12 no-padng layout_2">
<h2>{{data.UiElement_title}}</h2>
    <div class="no-padng " ng-repeat="val in partialData " id="{{val.id}}">
        <div  class="pull-left no-padng col-xs-12" new-scope="" ng-init="griddata = val.jsonData;chartClass = val.options[0].graphNum;ind = $index; callUrl($index,val,val.jsonData,ind)" ng-include="val.Url" >
        </div>
    </div>
</div>

<style>
    .layout_2{
        width:100%;
        float: left;
    }
    .layout_2 #layout_2_01{
        width: 50%;
        float: left;
    }
    .layout_2 #layout_2_02{
        width: 50%;
        float: left;
    }
    .layout_2 #layout_2_03{
        width: 100%;
        float: left;
    }
     .layout_2 #layout_2_04{
        width: 100%;
        float: left;
    }

</style>