

<div class=" no-padng layout_4">
    <h2>{{data.Forms_title}}</h2>
    <div class="no-padng " ng-repeat="val in partialData " id="{{val.id}}">
        <div  class="pull-left no-padng col-xs-12" new-scope="" ng-init="griddata = val.jsonData;chartClass = val.options[0].graphNum;ind = $index; callUrl($index,val,val.jsonData,ind)" ng-include="val.Url" >
        </div>
    </div>
</div>

<style>
    .layout_4{
        width:100%;
        float: left;
    }
    .layout_4 #layout_4_01{
        width: 50%;
        float: left;
    }
     .layout_4 #layout_4_02{
        width: 50%;
        float: left;
    }
    

</style>